* {
  margin: 0;
}
body {
  background-color: red;
  display: flex;
}

.current-todo {
  flex: 4 1 auto;
  height: 100vh;
  background-color: #fff6e0;
}

.add {
  border-radius: 50%;
  border: 0px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  background-color: #61677a;
}
:hover.add {
  background-color: #272829;
}

/* MODAL */

form {
  display: grid;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#submit {
  width: 25%;
  justify-self: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}

/* Todo Item display */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 200px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.center-item {
  justify-self: center;
}
.span-2 {
  grid-column-start: span 2;
}
